<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="rlpark.plugin.rltoysview.internal.vectors.RealVectorMapView"
            icon="icons/vectormapview.gif"
            id="zephyr.rlpark.plugin.rltoysview.vectormapview"
            name="Vector Map"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="rlpark.plugin.rltoysview.views.nostate.NoStateView"
            id="zephyr.rlpark.plugin.rltoysview.notstateview"
            name="NoState"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="rlpark.plugin.rltoysview.views.pendulum.SwingPendulumView"
            id="zephyr.rlpark.plugin.rltoysview.swingpendulumview"
            name="Swing Pendulum"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="rlpark.plugin.rltoysview.internal.policystructure.NormalDistributionView"
            icon="icons/policiesview.png"
            id="zephyr.rlpark.plugin.rltoysview.policyview"
            name="Policy"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="rlpark.plugin.rltoysview.internal.vectors.RealVectorBarView"
            icon="icons/vectorbarview.png"
            id="zephyr.rlpark.plugin.rltoysview.vectorbarview"
            name="Vector Bar"
            restorable="true">
      </view>
   </extension>
   <extension
         point="zephyr.viewprovider">
      <client
            class="rlpark.plugin.rltoysview.views.nostate.NoStateView$Provider"
            name="NoState View"
            viewid="zephyr.rlpark.plugin.rltoysview.notstateview">
      </client>
      <client
            class="rlpark.plugin.rltoysview.views.pendulum.SwingPendulumView$Provider"
            name="Swing Pendulum"
            viewid="zephyr.rlpark.plugin.rltoysview.swingpendulumview">
      </client>
      <client
            class="rlpark.plugin.rltoysview.internal.policystructure.NormalDistributionView$Provider"
            icon="icons/policiesview.png"
            name="Policy View"
            popup="false"
            viewid="zephyr.rlpark.plugin.rltoysview.policyview">
      </client>
      <client
            class="rlpark.plugin.rltoysview.internal.vectors.RealVectorMapView$Provider"
            icon="icons/vectormapview.gif"
            name="Vector Map View"
            popup="false"
            viewid="zephyr.rlpark.plugin.rltoysview.vectormapview">
      </client>
      <client
            class="rlpark.plugin.rltoysview.internal.vectors.RealVectorBarView$Provider"
            icon="icons/vectorbarview.png"
            name="Vector Bar View"
            popup="false"
            viewid="zephyr.rlpark.plugin.rltoysview.vectorbarview">
      </client>
   </extension>
   <extension
         point="zephyr.classpath">
      <classpath>
         classpath body text
      </classpath>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window?before=zephyr.plugin.core.separator.closeview">
         <command
               commandId="zephyr.plugin.core.views.showView"
               icon="icons/vectormapview.gif"
               id="zephyr.plugin.core.views.showvectorview"
               label="New Vector View"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="zephyr.rlpark.plugin.rltoysview.vectorview">
            </parameter>
         </command>
         <command
               commandId="zephyr.plugin.core.views.showView"
               icon="icons/policiesview.png"
               id="zephyr.plugin.core.views.showpolicyview"
               label="New Policy View"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="zephyr.rlpark.plugin.rltoysview.policyview">
            </parameter>
         </command>
      </menuContribution>
   </extension>

</plugin>
