<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="zephyr.runnable">
      <client
            autostart="false"
            class="learning.ActorCriticPendulum"
            id="learning.actorcriticpendulum">
      </client>
      <client
            autostart="true"
            class="learning.SarsaMountainCarZephyr"
            id="rlpark.plugin.examples.mountaincar">
      </client>
   </extension>

</plugin>
