<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="zephyr.runnable">
      <client
            autostart="false"
            class="rlpark.example.javacv.MotionDetectionRunnable"
            id="rlpark.example.javacv.motiondetectionrunnable">
      </client>
   </extension>

</plugin>
