<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="zephyr.filehandler">
      <client
            class="rlpark.plugin.videoview.internal.VideoFileHandler">
      </client>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="rlpark.plugin.videoview.internal.VideoView"
            icon="icons/film.png"
            id="rlpark.plugin.videoview.playview"
            name="Video"
            restorable="true">
      </view>
   </extension>
   <extension
         point="zephyr.viewprovider">
      <client
            class="rlpark.plugin.videoview.internal.VideoView$VideoViewProvider"
            icon="icons/film.png"
            name="Video"
            popup="false"
            viewid="rlpark.plugin.videoview.playview">
      </client>
   </extension>

</plugin>
