<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="zephyr.runnable">
      <client
            autostart="false"
            class="rlpark.plugin.opencv.runnables.WebcamRunnable"
            id="rlpark.plugin.opencv.webcam">
      </client>
      <client
            autostart="false"
            class="rlpark.plugin.opencv.runnables.MotionDetectionRunnable"
            id="rlpark.plugin.opencv.motiondetection">
      </client>
      <client
            autostart="false"
            class="rlpark.plugin.opencv.runnables.TraceRunnable"
            id="rlpark.plugin.opencv.trace">
      </client>
   </extension>

</plugin>
