<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer
            class="rlpark.plugin.eclipse.CritterbotClasspathVariableInitializer"
            readOnly="false"
            variable="CRITTERBOT_HOME">
      </classpathVariableInitializer>
      <classpathVariableInitializer
            class="rlpark.plugin.eclipse.CritterbotClasspathVariableInitializer"
            readOnly="false"
            variable="CRITTERBOTSIMULATOR_HOME">
      </classpathVariableInitializer>
   </extension>
</plugin>
